<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>ciao</title>
	 <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
	 <link th:href="@{/css/style.css}" rel="stylesheet">
	</head>
	<body>	
		<header class="d-flex">
			<div class="p-5 border-end border-bottom">
				<h2>
					<a class="text-decoration-none" href="http://localhost:8080">
						Best Pizzas
					</a>
				</h2>
				<div>
					<h2>
						<a class="text-decoration-none" href="/ingredients">
							Go to our ingredients
						</a>
					</h2>
				</div>
			</div>
			<div class="p-5 flex-grow-1 border-bottom">
				
			</div>
		</header>
		
		<main>
			<h1 class="text-center mt-5">
				Best Pizzas by Stefano
			</h1>
			
			<div class="text-center mb-3">
				<form>
					<label for="search">Search</label>
					<input type="text" id="search" name="search">
					<button type="submit">Go</button>
				</form>
			</div>
			
			<div class="text-center mb-3">
				<a class="btn btn-success px-4" th:href="@{'/pizzas/create'}">Add+</a>
				  <a class="btn btn-success" href="/pizzas/special">add special offer</a>
			</div>
			
			<div th:if="${deletedPizzaId != null}">
			    <div th:text="'Hai cancellato la pizza con id = ' + ${deletedPizzaId}" class="alert alert-success"></div>
			</div>
						
			<div class="w-75 m-auto my-cont border">
				<div class="h-25 d-flex justify-content-center align-items-center">
					<table class="table table-striped">
					  <thead>
						    <tr>
						      <th scope="col">ID</th>
						      <th scope="col">Name</th>
						      <th scope="col">Description</th>						
						      <th scope="col">Price</th>
						      <th scope="col">Offers</th>
						      <th scope="col">Offers actions</th>
						      <th scope="col">Start date</th>
						      <th scope="col">End date</th>
						      <th scope="col">Actions</th>
						    </tr>
					  </thead>
					  <tbody>
						    <tr th:each="pizza : ${pizza}">						
							  <th th:text="${pizza.id}" scope="row"></th>
						      <td>
								  <a class="text-decoration-none text-danger" th:href="@{'/pizzas/' + ${pizza.id}}" th:text="${pizza.name}"></a>
							  </td>
						      <td th:text="${pizza.description}"></td>					   
						      <td th:text="${pizza.price}"></td>
						      <td>
								 <div th:each="specialOffer : ${pizza.specialOffers}"
									th:text="${specialOffer.title}">
								</div>	
							  </td>
							   <td>
								 <a th:each="specialOffer : ${pizza.specialOffers}"
								 class="btn btn-warning" th:href="@{'/pizzas/special/edit/' + ${specialOffer.id}}">Edit</a>	
							  </td>
							   <td>
								 <div th:each="specialOffer : ${pizza.specialOffers}"
									th:text="${specialOffer.startDate}">
								</div>	
							  </td>
							   <td>
								 <div th:each="specialOffer : ${pizza.specialOffers}"
									th:text="${specialOffer.endDate}">
								</div>	
							  </td>
						      <td>
								  <a class="btn btn-warning" th:href="@{'/pizzas/edit/' + ${pizza.id}}">Edit</a>
								  <form 
										style="display:inline-block"
										th:action="@{'/pizzas/delete/' + ${pizza.id}}"
										method="POST">
									
										<input class="btn btn-danger" type="submit" value="DELETE">	
								  </form>
							  </td>					     
						    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</main>
	</body>
</html>