<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>ciao</title>
	 <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
	 <link th:href="@{/css/style.css}" rel="stylesheet">
	</head>
	<body>	
		<header class="d-flex">
			<div class="p-5 border-end border-bottom">
				<h2>
					<a class="text-decoration-none" href="http://localhost:8080">
						Best Pizzas
					</a>
				</h2>
			</div>
			<div class="p-5 flex-grow-1 border-bottom">
				
			</div>
		</header>
		
		<main>
			<h1 class="text-center mt-5">
				Insert data of new offer
			</h1>
			
			<div class="w-50 m-auto border-top border-start border-end">
				<ul class="p-0 m-0">
				   <div class="text-center fs-2 border-bottom py-3">
        				<form
							method="POST"
							th:object="${specialOffer}">
								<label for="pizza">Choose pizza</label>
								<select
								th:object="${pizza}"
								 id="pizza" name="pizza_id">
									<option
										th:each="a : ${pizzas}"
										th:object="${a}"
										th:value="*{id}"
										th:selected="${specialOffer != null and specialOffer.pizza != null and specialOffer.pizza.id != null and a.id == specialOffer.pizza.id}"
									>
										[[*{name}]]
									</option>
								</select>
		
							<div>
								<label for="title">Title</label>
								<input id="title" type="text" name="title" th:field="*{title}">
								 <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Errore: ${#fields.errors('title')}</p>
							</div>
							<div>
								<label for="startDate">Start date</label>
								<input id="startDate" type="date" name="startDate" th:value="*{startDate}">
							<div>
								<label for="endDate">End date</label>
								<input id="endDate" type="date" name="endDate" th:value="*{endDate}">
							</div>
							<input type="submit" value="add offer">
						</form>
    			   </div>
				</ul>
			</div>
		</main>
	</body>
</html>